{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h2>Welcome to the Personalized News Aggregator</h2>
    <p>Your one-stop platform for curated and personalized news.</p>

    <div class="functionality-grid">
        <div class="functionality-item">
            <img src="../static/images/view_articles.jpg" alt="View Articles">
            <a href="/view_articles" class="cta-button">View Articles</a>
        </div>

        <div class="functionality-item">
            <img src="../static/images/view_categories.jpg" alt="View Categories">
            <a href="/view_categories" class="cta-button">View Categories</a>
        </div>

        <div class="functionality-item">
            <img src="../static/images/view_users.jpg" alt="View Users">
            <a href="/view_users" class="cta-button">View Users</a>
        </div>

        <div class="functionality-item">
            <img src="../static/images/user_preferences.jpg" alt="User Preferences">
            <a href="/user_preferences" class="cta-button">User Preferences</a>
        </div>

        <div class="functionality-item">
            <img src="../static/images/statistics.jpg" alt="Statistics">
            <a href="/user_preference_statistics" class="cta-button">View Statistics</a>
        </div>
    </div>
</div>
{% endblock %}
