{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h2>Categories</h2>

    <div class="categories-grid">
        {% for category in categories %}
        <div class="category-item">
            <h3>{{ category.Category }}</h3>
            <img src="../static/images/categories_placeholder.jpg" alt="Category Image">
            <p><strong>Description:</strong> {{ category.Description }}</p>
        </div>
        {% endfor %}
    </div>

    {% if not categories %}
    <p>No categories available.</p>
    {% endif %}
</div>
{% endblock %}
